@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-image: url('./eldenring.jpg');
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	color: white;
}

h1 {
	font-weight: normal;
	font-size: 5rem;
	margin-top: 15rem;
}

.big-text {
	font-weight: bold;
	font-size: 3rem;
	margin: 0 2rem;
}

.countdown-container {
	display: flex;
}

.countdown-el span {
	font-size: 1.2rem;
}
